.navbar {
    width: 100%;
    background-color: $mainColor;
    padding-left: 30px;
    padding-right: 10px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $sans;
    z-index: 100;

    @include boxshadow;

}

.logo {
    display: inline-block;
    svg {
        width: 175px;
        vertical-align: middle;
    }
}
.nav-links {
    list-style: none;
    display: flex;
}

.nav-item {
    a {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        color: $textColor;
    }

    &:hover {
        background-color: $accentColor;

        a {
            color: $textColor;
        }
    }
}