@import 'components/variables';
@import 'components/navbar';
@import 'components/hero';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container-all {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: $containerHeight;
    @include grid(2, 1);

    
}

.section {
    height: $containerHeight;
    scroll-snap-align: start;
    
}

#home {
    background-color: $accentColor;
    padding: 8%;
}

.projects {
    @include grid(12, 3); // 12 columns, 10 rows
    padding: 8%;
    background-color: $mainColor;
    grid-gap: 1em;
    overflow: scroll;
    &__block {
        font-size: 64px;
        font-weight: bold;
        height: 250px;
        text-align: center;
        grid-column-end: span 6;
        transition: all .5s ease;
        @include boxshadow;
        &:nth-child(odd) {
            background-color: cornflowerblue;
            color: navy;
        }
        &:nth-child(even) {
            background-color: navy;
            color: cornflowerblue;
        }
        img:hover {
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 750px) {
    .logo {
        display: none;
    }
    h2 {
        text-align: center;
    }

    .container-all {
        scroll-snap-type: y mandatory;
        // overflow-y: auto;
        // height: $containerHeight;
        @include grid(1, 2);
    }
    .hero-text {
        text-align: center;
        position: absolute;
        font-size: half($fontSize);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
}
